@model AppStore.Models.DTO.LibroListVm;
@{
    Layout = "_Layout";
}
<section class="search-bar">
          <form asp-action="Index" method="get">
          <input type="text" name="Term" placeholder="Buscar libro">
          <button type="submit"><i class="fa fa-search"></i></button>
         </form>
        </section>
        <section class="movies">

           @foreach(var libro in Model.LibroList!)
           {
            <div class="movie-card"onclick="window.location.href='/Home/LibroDetail?LibroId=@libro.Id'" >
            <div class="movie-image">
            <img src="/Uploads/@libro.Imagen" width="200" height="300">
            </div>
            <div class="movie-info">
                <h4>@libro.Titulo</h4>
                <h4>@libro.CategoriasNames</h4>
                <h4>@libro.Autor</h4>
            </div>
           </div>
           }
        </section>

        <div class="pagination">

        <a href="#">&laquo;</a>

        @for(int i = 1; i <= Model.TotalPages; i++)

        {

            <a class=@(Model.CurrentPage==i?"active":"false") href="/Home/Index?currentPage=@i">@i</a>

        }   

    </div>